html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    height: 100vh;
}

#container {
    width: 100%;
    height: 100vh;
}

.sapUiComponentContainer {
    width: 100%;
    height: 100vh;
}

.sapMPage {
    width: 100%;
    height: 100vh;
}

.ordersPage {
    width: 100%;
    height: 100vh;
}